---
import { SITE } from "@/siteConfig";

import Introduction from "@/components/Introduction.astro";
import IconLink from "@/components/IconLink.astro";
import CustomLink from "@/components/CustomLink.astro";
import { Tweet, Vimeo, YouTube } from 'astro-embed';
---

<Introduction />
<ul class="flex justify-center gap-4 pb-4 md:pb-8">
  {
    SITE.iconLinks.map((link) => {
      return <IconLink url={link.url} icon={link.icon} />;
    })
  }
</ul>
<!-- <div class="rounded-2xl py-4">
  <YouTube class="rounded-2xl py-4" id="https://www.youtube.com/watch?v=fC1PpBELw-Y" posterQuality="high"/>
</div> -->
<YouTube class=" rounded-2xl px-4" id="https://www.youtube.com/watch?v=fC1PpBELw-Y" posterQuality="high"/>
<ul class="grid gap-y-6 pb-12 pt-4">
  {
    SITE.customLinks.map((link) => {
      return <CustomLink url={link.url} icon={link.icon}>{link.title}</CustomLink>;
    })
  }
</ul>